{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main id="main"  class="d-flex justify-content-center align-items-center align-content-around "style="background: linear-gradient(to bottom, #33ccff 8%, #ff99cc 100%);height:100vh; ">     
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center align-content-around px-2 ">
 
        <div class="col-xl-5 col-md-8 col-12   bg-white p-3 rounded">

    <u><h5 class="text-center">{% trans "Change Password" %}</h5></u>

    
    <p class="text-center muted">{% trans 'Your password is now changed.' %}</p>
</div>
</div>
        
      </div>
    
  
  </main>
{% endblock %}
