 <!-- ======= Footer ======= -->
 <footer id="footer" >


    <div class="footer-top pt-3">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'cars' %}">Cars</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'add_vehicles' %}">Add Vehicles</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Contact Us</a></li>
             
            </ul>
          </div>

          

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Tom Mboya Street <br>
              Nairobi, NY Plaza<br>
              kenya <br><br>
              <strong>Phone:</strong> 0732456890<br>
              <strong>Email:</strong> info@gujarati.com<br>
            </p>

          </div>

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>About Gujarati</h3>
            <p> Gujarati is a second hand car selling platforms is operating in kenya.Aiming to connect vehicle owners who wish to sell their vehicles to potential buyers.</p>
           
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright pt-2">
        &copy; Copyright <strong><span>Gujarati</span></strong>. All Rights Reserved
      </div>
   
    </div>
  </footer><!-- End Footer -->