{% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'cars' %}">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'add_vehicles' %}">Add car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
          {% if user.is_authenticated %}
         <a href="">View Favorites</a> 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_cars' %}">My Cars</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_bids' %}">My Bids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'favourites' %}">View Favorites</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">{{user.email}}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif%}
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> {% endcomment %}


  {% load static %}

  <header id="header" class="fixed-top d-flex align-items-center ">
      <div class="container d-flex justify-content-between align-items-center">
  
        <div class="logo">
          <h1 class="text-light"><a ><span>Gujarati</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
  
        <nav id="navbar" class="navbar">
        {% with request.resolver_match.url_name as url_name %}
          <ul>
            <li><a class="{% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a></li>
            <li><a class="{% if url_name == 'cars' %}active{% endif %}"  href="{% url 'cars' %}">Vehicles</a></li>
            <li><a class="{% if url_name == 'add_vehicles' %}active{% endif %}"  href="{% url 'add_vehicles' %}">Post Vehicle</a></li>
            

            {% if user.is_authenticated and user.is_staff %}
            
            
            <li class="dropdown "><a href="#"><span> {{user.username}}</span> <i class="bi bi-chevron-down"></i></a>
              <ul> 
                <li><a class="{% if url_name == 'admin' %}active{% endif %}"  href="{% url 'admin:index' %}">Admin</a></li>

              {% comment %} {% if user.personal.user_type == 'recruiter' %} {% endcomment %}
                <li><a href="{% url 'my_cars' %}">My Vehicles </a></li>
                {% comment %} {% elif user.personal.user_type == 'seeker' %} {% endcomment %}
                
                <li><a href="{% url 'my_bids' %}">My Bids </a></li>
                <li><a href="{% url 'favourites' %}">My Bookmarks </a></li>
              
                
                 <li><a href=" {% url 'account_logout'%}">Sign Out </a></li>
              </ul>
            </li>

            {% elif  user.is_authenticated and not user.is_staff %}
  
            {% comment %} end of notification {% endcomment %}
            
            <li class="dropdown "><a href="#"><span> {{user.username}}</span> <i class="bi bi-chevron-down"></i></a>
              <ul> 
              {% comment %} {% if user.personal.user_type == 'recruiter' %} {% endcomment %}
                <li><a href="{% url 'my_cars' %}">My Vehicles </a></li>
                {% comment %} {% elif user.personal.user_type == 'seeker' %} {% endcomment %}
                
                <li><a href="{% url 'my_bids' %}">My Bids </a></li>
                <li><a href="{% url 'favourites' %}">My Bookmarks </a></li>
                {% comment %} {% endif %} {% endcomment %}
                {% if user.profile %}
                <li><a href="{% url 'profile' user.profile.profile_uuid  %}">My Profile</a></li>
                {% else %}
            <li><a href="{% url 'add_profile' %}">Create Profile</a></li>
            
            {% endif %} 
               
                 <li><a href=" {% url 'account_logout'%}">Sign Out </a></li>
              </ul>
            </li>
             
              {% else %}
              <li><a class="{% if url_name == 'account_login' %}active{% endif %}" href="{% url 'account_login' %}">Log In </a></li>
             <li><a class="{% if url_name == 'account_signup' %}active{% endif %}"  href=" {% url 'account_signup'%}">Sign Up </a></li>
             {% endif %}
             
          </ul>
          {% endwith %}
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->

    {% if messages %}

{% for message in messages %}
{% if message.tags == 'success' %}
<script src="{% static 'plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    var m = "{{message}};"
    Swal.fire('Success !',m,'success')
</script>
{% endif%}
{% endfor %}
{% endif %}