{% extends 'base.html' %}
{% block title %} Vehicle Details {% endblock %}
{% block content %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}
{% load crispy_forms_tags %}
{% comment %} {% load sweetify %} {% endcomment %}
{% load recent_vehicles%}
{% load vehicle_categories %}
{% comment %} {% sweetify %} {% endcomment %}



<main id="main"> 

  <br>
  <section class="breadcrumbs">
      
    <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
        <h2>Vehicle Details</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'cars' %}">Vehicles</a></li>
          <li>{{car.category }} {{car.car_name}}</li>
        </ol>
      </div>
  
    </div>
  </section><!-- Job breadcrumbs Section --> 
  <br>
  {% comment %} {% include 'includes/profile_message.html'%} {% endcomment %}

  
  
  <section class="vehicles-details" id="vehicles-details">
          <div class="container-fluid">
             <div class="row ">
                 
                <div class="col-lg-9">
                  <div class="card car-card shadow  mb-5 bg-body rounded">
                   <div class="details pl-2 ml-3">  
                    
                    
{% if car.carimages_set.all %}


                    <section id="fancy">
                      <div class="row">
                   
                        <div class="large-5 column">
                          <div class="xzoom-container">

                            {% for vehicle_image in car.carimages_set.all %}
                            
                            {% if forloop.counter == 1 %}
                            {% comment %} <img src="{{vehicle_image.image.url}}" alt="{{vehicle_image.car.car_name|truncatechars:10}}" class="card-img-top car-img p-1" height="250"> {% endcomment %}
                            
                            <img class="xzoom4" id="xzoom-fancy" src="{{vehicle_image.image.url}}" xoriginal="{{vehicle_image.image.url}}" />
                            {%endif %}
                            <div class="xzoom-thumbs d-flex d-inline-flex">
                              <a href="{{vehicle_image.image.url}}">
                                <img class="xzoom-gallery4" width="80" src="{{vehicle_image.image.url}}"   >
                              </a>
     
                              {% comment %} <a href="{% static '/img/car-3.png' %}"><img class="xzoom-gallery4" width="80" src="{% static '/img/car-3.png' %}" title="The description goes here"></a> {% endcomment %}
                              
                             </div>
                             
                          {% endfor %}
                        </div>
                        </div>
                        <div class="large-7 column"></div>
                      </div>
                      </section>

{% else %}
<div class="default-image">
  <img class="card-img-top car-img p-1" width="510" height="450" src="{% static '/img/car-3.png' %}" >
    
</div>
   <hr>                        
{% endif %}
                      <div class="details-header mb-2">
            
                        <li class="fw-bold fs-4 py-1" style="list-style-type:none"> 
                          <a href="{% url 'category' car.category.slug %}" class="text-reset text-decoration-none">{{car.category |capfirst}} {{car.car_name |capfirst}}</a>  </li>
                      
                      
                      <h6 class="py-1">kshs 
                        <span class="text-muted fs-5">{{car.price |intcomma}}</span>
                      </h6>

                      <ul d-flex >
                      <li > <i class="fa fa-user" aria-hidden="true"></i> <a href="{% url 'user_cars' car.user.username %}" class="text-reset text-decoration-none">{{car.user.username |capfirst}}</a>   </li>
                      <li > <i class="fa fa-clock" aria-hidden="true"></i> <a >{{car.created_date }}</a>  </li>
                      </ul>
                  </div>
                         
                         <div class="_p-features">
                          <h4 class="text-center mb-2"> Description About this Vehicle: </h4>
                          <p class=" text-center mb-3"><span class="fw-bold">Inventory Location:</span> <span class="text-muted"> {{car.vendor_county |capfirst}}, {{car.vendor_location |capfirst }}</span></p>
                          <div class="row">
                              <div class="col-lg-4 col-md-6 col-12">
                                 <p ><span class="fw-bold">Stock ID :</span> <span class="text-muted mx-1">{{car.stock_id }}</span></p>
                                  <p><span class="fw-bold">Plate No:</span> <span class="text-muted mx-1"> {{car.platenumber|upper }} </span></p>
                                  <p><span class="fw-bold">Body Type:</span> <span class="text-muted mx-1"> {{car.body_type |capfirst }}</span></p>
                                  <P><span class="fw-bold">Transmission:</span> <span class="text-muted mx-1"> {{car.transmission |capfirst}} </span></P>
                                  <p><span class="fw-bold">Drive:</span> <span class="text-muted mx-1"> {{car.drive |capfirst }} </span></p>
                                  <p><span class="fw-bold">Engine Type:</span> <span class="text-muted mx-1"> {{car.engine_type |capfirst }} </span></p>
                                  <p><span class="fw-bold">Consumption:</span> <span class="text-muted mx-1">{{car.engine_size |capfirst }} </span></p>
                                 
                                 </div>
                                 <div class="col-lg-4 col-md-6 col-12">
                                     <p><span class="fw-bold">Fuel:</span> <span class="text-muted mx-1"> {{car.fuel |capfirst }} </span></p>
                                     <p><span class="fw-bold">Year.of.Man: </span> <span class="text-muted mx-1">{{car.year_of_make }} </span></p>
                                     <p><span class="fw-bold">Color:</span> <span class="text-muted mx-1"> {{car.color |capfirst}} </span></p>
                                     <p><span class="fw-bold">Milage:</span> <span class="text-muted mx-1"> {{car.mileage |intcomma }} kms </span></p>
                                     <p><span class="fw-bold">Steering:</span> <span class="text-muted mx-1"> {{car.steering }}</span></p>
                                     {%if car.number_of_ownership %}
                                     <p><span class="fw-bold">Ownership:</span> <span class="text-muted mx-1">{{car.number_of_ownership }} </span></p>
                                     {% endif %}
                                     <p><span class="fw-bold">Status:</span> <span class="text-muted mx-1"> <button   class="btn btn-info  m-1 p-1" style="background-color">{{car.status }}</button> </span></p>

                                     
                                 </div>
                                 <div class="col-lg-4 col-md-6 col-12">
                                     <span>Other Specs</span>
                                     {% if car.vehicle_weight %}
                                     <p><span class="fw-bold">Vehicle Weight:</span> <span class="text-muted mx-1">  {{car.vehicle_weight }} kgs </span></p>
                                     {% endif %}
                                     {%if car.max_load_capacity  %}
                                     <p><span class="fw-bold">Max Loading:</span> <span class="text-muted mx-1">{{car.max_load_capacity }} kgs </span></p>
                                     {% endif %}
                                     {% if car.body_length %}
                                     <p><span class="fw-bold">Body length:</span> <span class="text-muted mx-1"> {{car.body_length }} metres </span></p>
                                     {% endif %}
                                     <p><span class="fw-bold">Chasis No:</span> <span class="text-muted mx-1">{{car.chasis_number }}</span></p>
                                     {% comment %} views : {% get_hit_count for car %} {% endcomment %}
                                     
                                 </div>
                          </div>
                          <div class="row">
                            <h4 class="text-center">Imperfections</h4>
                            {% comment %} {% autoescape on %} {% endcomment %}
                            <p class="text-muted">{{car.imperfection |capfirst|safe}} </p>
                            {% comment %} {% endautoescape %} {% endcomment %}
                          </div>
                          <div class="row">
                              <div class="col-12">
                                  <h4 class="text-center">Other Accessories</h4>
                              </div>

                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button"  class="btn  m-1 p-1" style="background-color:beige">Air bag 
                                  {% if car.air_bag%}
                                 <i class="fa fa-check text-success" aria-hidden="true"></i>
                                 {% else %}
                                 <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                              {% endif %}
                              </button>
                               </div> 

                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" 
                                class="btn  m-1 p-1" style="background-color:beige">Sun Roof 
                                {% if car.sun_roof %}
                                <i class="fa fa-check ml-2" aria-hidden="true"></i>
                              {% else %}
                              <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                              {%endif%}
                              </button>
                                   </div>

                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" style="background-color:beige">Grill Guard 
                                  {% if car.grill_guard %}
                                  <i class="fa fa-check ml-4 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                  </button>
                                </div>
                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" style="background-color:beige">Power Steering
                                  
                                  {% if car.power_steerring %}
                                  <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                
                                </button>
                                 </div>
                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" >Navigation
                                  {% if car.navigation %}
                                  <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                
                                
                                </button>
                                </div>
                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" >Rear Spoiler 
                                  {% if car.rear_spoiler %}
                                  <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                  
                                  </button>
                                
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                              <button type="button" class="btn  m-1 p-1" style="background-color:beige">Power Windows
                                {% if car.power_windows %}
                                <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                {% else %}
                                <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                {%endif%}
                                
                                </button>
                              </div>
                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" style="background-color:beige">Leather Seats
                                  {% if car.leather_seats %}
                                  <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                  </i></button>
                                 
                              </div>
                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" style="background-color:beige">Roof Rails
                                  {% if car.roof_rails %}
                                  <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                  </i></button>
                                 
                              </div>
                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" style="background-color:beige">Dual Airbags
                                  {% if car.dual_air_bags %}
                                  <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                  </i></button>
                                 
                              </div>
                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" style="background-color:beige">Fog Lights
                                  {% if car.fog_lights %}
                                  <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                  </i></button>
                                 
                              </div>
                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" style="background-color:beige">Back Tire
                                  {% if car.back_tire %}
                                  <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                  </i></button>
                                 
                              </div>
                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" style="background-color:beige">Alloy Wheels
                                  {% if car.alloy_wheels %}
                                  <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                  </i></button>
                                 
                              </div>
                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" style="background-color:beige">Air Conditioner
                                  {% if car.air_conditioner %}
                                  <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                  </i></button>
                                 
                              </div>
                              <div class="col-lg-3 col-md-4 col-6">
                                <button type="button" class="btn  m-1 p-1" style="background-color:beige">Anti Lock Brake System
                                  {% if car.anti_lock_brake_system %}
                                  <i class="fa fa-check ml-2 text-success" aria-hidden="true"></i>
                                  {% else %}
                                  <i class="fa fa-times ml-2 text-danger" aria-hidden="true"></i>
                                  {%endif%}
                                  </i></button>
                                 
                              </div>
                              
                          </div>
                         
                           
                          <div class="d-grid gap-2 my-3 d-md-flex justify-content-md-around">
  {% if user.is_authenticated and  user.id == car.user.id %}
 
{% comment %} {% if car.car.count > 0 %} {% endcomment %}
  <a href="{% url 'delete_vehicle' car.slug %}"class="btn btn-danger me-md-2">Delete</a> 
  {% comment %} {% endif %} {% endcomment %}
  <a href="{% url 'edit_vehicle' car.slug %}"class="btn btn-success me-md-2">Edit</a>
  {% if car.status != 'WAITING PAYMENT' %}
  <a href="{% url 'this_car_bids' car.slug %}" class="btn btn-secondary"><span class="badge rounded-pill bg-info text-dark"> {{ car.car.count}}</span>  Bids</a></li>
  
  {% else %}
  <a href="{% url 'this_car_bids' car.slug %}" class="btn btn-secondary"> Waiting For Payment </a></li>
  
  {% endif %}

{% elif user.is_authenticated and  not user.id == car.user.id %}
  
  {% if fav %}
  <a href="{% url 'add_favourite' car.slug %}" class="btn btn-sm btn-secondary">Remove From Bookmarked</a>
  
  {% else %}
  <a href="{% url 'add_favourite' car.slug %}" class="btn btn-sm btn-secondary">Bookmark</a>
  
  
  {% endif %}
  {%endif%}

  
  {% if user.is_authenticated and not user.id == car.user.id %}
  {% if existing_bid %}
  <button  class="btn btn-warning" > Bid Exist</button>
  {% else %} 
  <a href="{% url 'bid_car' car.id %}" class="btn btn-primary" > Bid This Vehicles</a>
  {% endif%}

  {% elif not user.is_authenticated %}
  <a href="{% url 'bid_car' car.id %}" class="btn btn-primary" > Bid This Vehicles</a>
  {%endif%}
  
</div>






       </div>
                   
                
             </div>
            </div>
             </div>


               <div class="col-lg-3">
                <div class="sidebar"> 
                <div class="recent-Uploads">
                  <h5 class="text-center">Recent Vehicles </h5>
                {% recent_vehicles as vehicles %}
                {% for vehicle in vehicles %}
                
      <div class="card car-card shadow  mb-1 bg-body rounded">
        <div class="card-body ">
          <div class="car-info">
            
                <li class="fw-bold fs-5 py-1" style="list-style-type:none"> <a href="{{ vehicle.get_absolute_url}}" class="text-reset text-decoration-none stretched-link">{{vehicle.category}} {{vehicle.car_name}}</a>  </li>
              
              
              <h6 class="py-1">kshs 
                <span class="text-muted">{{vehicle.price |intcomma}}</span>
              </h6>
              <div class=" d-flex justify-content-evenly flex-wrap">
                {% comment %} <div class="d-flex justify-content-around">...</div> {% endcomment %}
                
                 <button type="button" class="btn  m-1 p-1" style="background-color:beige">{{vehicle.fuel}}</button>
                 <button type="button" class="btn  m-1 p-1" style="background-color:beige">{{vehicle.transmission}}</button>
                 <button type="button" class="btn  m-1 p-1" style="background-color:beige">{{vehicle.year_of_make}}</button>
                 {% comment %} <button type="button" class="btn  m-1 p-1"style="background-color:beige">{{car.mileage}} kms</button> {% endcomment %}
              </div>
          </div>
         
         
        </div>
       
        <!-- end of card -->
       
      </div>
      {% empty %}
      
                <p class="text-muted" >No recent Vehicles</p>
      {% endfor %}


      
    </div>
    <!--end of recent Uploads -->

 <!--start of categories -->
    <div class="categories-list">
   <h5 class="text-center">Vehicles Categories </h5>
   
        {% vehicle_categories as categories%}
        {% for category in categories %}
         <a  href="{{category.get_absolute_url}}" class="btn  m-1 p-1" style="background-color:beige">{{category.name}} <span class="badge rounded-pill bg-dark text-light"> {{ category.category_count}}</span> </a>
      
    {% empty %}
    <p class="text-muted" >No Categories Found</p>
      {% endfor %}
    <!--end of categories -->
  </div>
                
              
               </div>
  
               
             </div>
          </div>
        </div>
       </section>
      
  </main>










{% endblock %}