{% extends 'base.html' %}
{% block title %} Vehicles {% endblock %}
{% block content %}
{% load static %}
{% load hitcount_tags %}
{% load crispy_forms_tags %}
{% load popular_vehicles%}
{% load humanize %}

{% comment %} {% load humanize %} {% endcomment %}
<main id="main"> 
  <br>
  

<section class="breadcrumbs">
    
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Vehicles</h2>
      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>Vehicles</li>
      </ol>
    </div>

  </div>
</section><!-- Job breadcrumbs Section --> 

{% include 'includes/profile_message.html'%}

<section class="vehicles" id="vehicles">
    <div class="container-fluid">
        <div class="row">

          <div class="col-md-9 col-sm-12">

            <div class="row">
           

    {% comment %} main {% endcomment %}
     <!-- single car -->

                 
{% for car in object_list %}

{% comment %} views:{% get_hit_count for car %} <br> {% endcomment %}
     <div class="col-md-6 col-lg-4">
      <div class="card car-card shadow  mb-5 bg-body rounded">

        {% if car.carimages_set.all %}

        {% for vehicle_image in car.carimages_set.all %}
        {% if forloop.counter == 1 %}
        {% comment %} {% if vehicle_image.image %} {% endcomment %}
        <img src="{{vehicle_image.image.url}}" alt="{{vehicle_image.car.car_name|truncatechars:10}}" class="card-img-top car-img p-1" height="150">
        {% comment %} {% else %}
        no image ppppppppppppppppppppppppppppppppppppppppppppppppppp
        {% endif %} {% endcomment %}
        {%endif %}
        {% endfor %}

        {% else %}
        <img src="{% static '/img/car-3.png' %}" alt="{{car.car_name|truncatechars:10}}" class="card-img-top car-img p-1" height="150">

{% endif %}
        <!-- card body -->
        <div class="card-body ">
          <hr>
          <div class="car-info">
            
                <li class="fw-bold fs-5 py-1" style="list-style-type:none"> <a href="{{ car.get_absolute_url }}" class="text-reset text-decoration-none stretched-link">{{car.category }} {{car.car_name}}</a>  </li>
              
              
              <h6 class="py-1">kshs 
                <span class="text-muted">{{car.price |intcomma}}</span>
              </h6>
            
          </div>
          <div class=" d-flex justify-content-evenly flex-wrap">
            {% comment %} <div class="d-flex justify-content-around">...</div> {% endcomment %}
            
             <button type="button" class="btn  m-1 p-1" style="background-color:beige">{{car.fuel}}</button>
             <button type="button" class="btn  m-1 p-1" style="background-color:beige">{{car.transmission}}</button>
             <button type="button" class="btn  m-1 p-1" style="background-color:beige">{{car.year_of_make}}</button>
             <button type="button" class="btn  m-1 p-1"style="background-color:beige">{{car.mileage |intcomma}} kms</button>
          </div>
         
        </div>
       
        <!-- end of card -->
        <div class="card-footer d-flex justify-content-around">
           <div class="btn-group">
          <a class="btn btn-warning w-100 " href="">View This Car</a>
       </div>
        </div>
      </div>
    </div>
    <!--end of single car -->
    {% empty %}
    <div class="card car-card">

      
      <div class="card-body shadow p-3 mb-5 bg-body rounded">
        <P class="text-center fw-bold fs-1 text-danger">Opps!!</P>
        <P class="text-center"> Sorry No Vehicles Are Available Today! </P>
      </div>
    </div>
{% endfor %}

            </div>

            {% if page_obj %} <!---- check if there are object for pagination-->
            <nav aria-label="Page navigation ">
              <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}
                  <li>
      {% comment %} <a  href="?page={{ page_obj.previous_page_number }}">        <span >&laquo;</span>      </a> {% endcomment %}
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>    
    {% endif %}

                  {% for i in page_obj.paginator.page_range %}
             {% if page_obj.number == i %}
             <li class="page-item active" aria-current="page"> <span class="page-link">{{i}}</span> </li>
                {% comment %} <li class="active"><a href="#">{{i}}</a></li> {% endcomment %}
                {% else %}
                  {% comment %} <li ><a href="?page={{i}}">{{i}}</a></li> {% endcomment %}
                  <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}          
              {% comment %} <li>    <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>  </li>  {% endcomment %}
              <li class="page-item">                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>              </li>
  {% endif %}
              </ul>
            </nav>
              <br>
            

            {% endif %}

        </div>
<div class="col-md-3 col-sm-6">
  
  
        <section class="sidebar "> 
         
          <h3 class="sidebar-title text-center">Find Vehicle</h3>
          {% comment %} <div class="sidebar-item search-form">
        <form action="{% url 'find' %}" method="GET" >
           {% csrf_token %}
         
             <input type="search" name="q" >
           
             <button type="submit">search</button>
           
           </form>
           </div> {% endcomment %}
        {% comment %} <h3 class="sidebar-title">Search</h3>
          <div class="sidebar-item search-form">
        <form action="{% url 'find' %}" method="GET" >
           {% csrf_token %}
         
             <input type="search" name="q" >
           
             <button type="submit"><i class="bi bi-search"></i></button>
           
           </form>
           </div> {% endcomment %}
           <div class="card car-card shadow  mb-5 bg-body rounded ">
           <form class="home-search wow fadeInRight mx-2 p-2" action="{% url 'search' %}" method="GET"  data-wow-delay=".5s">
            {% csrf_token %}
          
          
          <div class="form-group mb-2">
            <label class="fw-bold text-dark">Vehicle</label>
            <div class="form-location">
            <input type="text"  name="car_name" class="form-control" placeholder="eg Fortuner...">
            </div>
            </div>
            <div class="form-group select-border mb-2">
              <label class="fw-bold text-dark">Model</label>
              <select class="form-control basic-select" name="category">
              <option value="0">All categories </option>
              {% for category in categories %}
              <option value="{{category.id}}">{{category.name}} </option>
              {% endfor %}
              </select>
              </div>
            <div class="form-group mb-2">
              <label class="fw-bold text-dark">Year Of Make</label>
              <div class="form-location">
              <input type="text"  name="year_of_make" class="form-control" placeholder="ef 2015...">
              </div>
              </div>
              <div class="form-group mb-2">
                <label class="fw-bold text-dark">Location</label>
                <div class="form-location">
                <input type="text"  name="location" class="form-control" placeholder="eg Starehe...">
                </div>
                </div>
        
          
          <div class="button text-center">
          <button class="btn btn-outline-dark"> Search </button>
          </div>
          </form>
        </div>
           <br>

           <h3 class="text-center">Popular Vehicles</h3>

           {% popular_vehicles as vehicles %}
           {% for vehicle in vehicles %}
           
 <div class="card car-card shadow  mb-1 bg-body rounded">
   <div class="card-body ">
     <div class="car-info">
       
           <li class="fw-bold fs-5 py-1" style="list-style-type:none"> <a href="{{vehicle.get_absolute_url}}" class="text-reset text-decoration-none stretched-link">{{vehicle.category}} {{vehicle.car_name}}</a>  </li>
         
         
         <h6 class="py-1">kshs 
           <span class="text-muted">{{vehicle.price |intcomma}}</span>
         </h6>
         <div class=" d-flex justify-content-evenly flex-wrap">
           {% comment %} <div class="d-flex justify-content-around">...</div> {% endcomment %}
           
            <button type="button" class="btn  m-1 p-1" style="background-color:beige">{{vehicle.fuel}}</button>
            <button type="button" class="btn  m-1 p-1" style="background-color:beige">{{vehicle.transmission}}</button>
            <button type="button" class="btn  m-1 p-1" style="background-color:beige">{{vehicle.year_of_make}}</button>
            {% comment %} <button type="button" class="btn  m-1 p-1"style="background-color:beige">{{car.mileage}} kms</button> {% endcomment %}
         </div>
     </div>
    
    
   </div>
  
   <!-- end of card -->
  
 </div>
 {% empty %}
 
           <p class="text-muted" >No recent Vehicles</p>
 {% endfor %}

</section>
        </div>
        
    </div>
    </div>
</section>
</main>
{% endblock %}