{% extends 'base.html' %}
{% block title %} Edit Vehicles {% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% include 'includes/profile_message.html'%}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<section class="breadcrumbs">
    
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Edit Vehicle</h2>
      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}">Details</a></li>
        <li>Edit</li>
      </ol>
    </div>

  </div>
</section><!-- Job breadcrumbs Section -->

<h3 class="text-center py-3 fs-2">Edit</h3>
    <div class="d-flex justify-content-center fw-bold text-capitalize pb-5">
<div class="form-field col-9">
<form method="POST" enctype="multipart/form-data" id="car_edit">
    {% csrf_token %}
    {{ myform.media }}
    {% crispy form %}
    
    {% comment %} <div class="d-grid gap-2 col-6 mx-auto">
      
      <button class="btn btn-primary" >Submit</button>
    </div> {% endcomment %}
    </form>
  </div>
</div>
{% endblock %}